$color_main: #8e231b;
$color_maindark: #5b0000;

$color_surface: #ddd;
$color_surfacelight: #ffffff;

$color_secondary: #212121;
$color_secondarylight: #505050;
$color_secondarydark: #000;

$color_error: #8e651b;