//Para compilar: sass --watch src/scss/styles.scss src/css/styles.css

/**** Imports: modules y partials ****/
@import "colors";
@import "cookie";

/**** Fuente ****/
@font-face {
  font-family: "Corleone";
  src: url("/resources/fonts/Corleone.TTF");
}

/**** Funciones: mixins y extends ****/

/**** Resto del código: ****/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
