//Para compilar: sass --watch src/scss/styles.scss src/css/styles.css

/**** Imports: modules y partials ****/
@import "colors";
@import "cookie";

/**** Fuente ****/
@font-face {
  font-family: "Corleone";
  src: url("/resources/fonts/Corleone.TTF");
}

/**** Funciones: mixins y extends ****/

/**** CSS general: ****/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  & > div {
    & > div {
      /* Container de contenido izquierdo */
      & > div:first-of-type {
        background-color: $color_surface;
      }

      /* Container de aside derecho */
      & > div:last-of-type {
        text-align: center;
        color: $color_surfacelight;
        background-color: $color_secondary;
      }
    }
  }
}

/**** Header, botón top y footer ****/
//TODO: reconvertir esto a bootstrap
nav,
footer {
  background: $color_main;
  color: $color_surfacelight;

  a {
    color: $color_surfacelight;

    & > img {
      margin-bottom: -0.5rem;
      box-sizing: border-box;
      height: 70px;
    }
  }
}

footer {
  a {
    margin-left: 1em;
  }
}

#botonTop {
  display: none; /* empieza siempre oculto */
  position: fixed;
  bottom: 3.3rem;
  right: 0.3rem;
  z-index: 99; /* así queda siempre superpuesto */
  color: white;
  background-color: $color_secondarylight;
  box-sizing: border-box;
  font-size: 80%;
  width: auto;

  &:hover {
    color: white;
    background-color: $color_maindark;
  }
}
